@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html,
body {
  margin: 0;
  background-color: #f5f5dc;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.navbar img {
  width: 35px;
  cursor: pointer;
  margin: 20px;
}

.tasksContainer {
  width: 100%;
  height: 70vh;
}

.notasks {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0;
}

.notasks p {
  margin-bottom: 20px;
  font-family: Poppins;
  text-align: center;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  height: 100px;
}

form #taskInput {
  width: 85%;
  height: 40px;
  border-radius: 10px;
  background-color: transparent;
  border: solid 1px;
  margin-left: 15px;
}

form #taskInput::placeholder {
  font-family: Poppins;
  padding-left: 10px;
}

form label {
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  cursor: pointer;
}

label ion-icon {
  font-size: 23px;
  display: flex;
  align-items: center;
  justify-self: center;
}

.taskEnterBtn {
  color: white;
  background-color: black;
  position: relative;
  z-index: 2;
  right: 40px;
}

.tagBtn {
  position: relative;
  right: 30px;
}

.tagBtn ion-icon {
  font-size: 35px;
  font-weight: light;
}
