@media (max-width: 600px) {
    .taskInputContainer {
      min-width: 200px;
      max-width: 400px;  
      justify-self: center;
      border: solid;
    }
    .tasksContainer {
      width: 445px;
      justify-self: center;
      border: solid;
    }
    .tasksContainer .tasks {
      color: magenta;
      border: solid 5px;
      max-width: 40px;
    }
    .tasks .textHalf {
      overflow: hidden;
      color: red;
    }
  }

  @media (max-width: 510px) {
    .taskInputContainer {
      color: blue;
      border: none;
        font-size: 90%;
        width: 60%;
        background: transparent;
    }
    form #taskInput {
        width: 200px;
        background-color: orange;
        font-family: Playfair Display;
    }
    .taskInputContainer .taskEnterBtn {
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    .taskEnterBtn ion-icon {
        font-size: 1rem;
    }
  }