@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html,
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

:root {
  --fallOrange: #DC965A;
  --fallDarkBrown: #242325;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar {
  display: none;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  position: fixed;
  z-index: 2;
  background-color: white;
  top: 0%;
  height: 50px;
}

.navbar img {
  width: 35px;
  height: 40px;
  cursor: pointer;
  margin-right: 40px;
}

h2, p {
  font-family: Inter;
  margin: 0;
  margin-top: 5px;
}



.taskInputContainer {
  background-color: lightgray;
  width: 600px;
  border-radius: 10px;
  margin-top: 130px;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.tasksContainer {
  max-width: 750px;
  min-width: 300px;
  height: 70vh;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}


.tasksContainer:empty {
  height: 35vh;
}

.tasksContainer:empty ~ .notasks {
  display: flex;
}

/* .notasks {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0;
}

.notasks p {
  margin-bottom: 20px;
  font-family: Poppins;
  text-align: center;
} */

form {
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  height: 100px;
}

form #taskInput {
  width: 85%;
  max-width: 800px;
  min-width: 200px;
  height: 40px;
  border-radius: 10px;
  background-color: transparent;
  border: solid 1px;
  margin-left: 15px;
  padding-left: 15px;
}

form #taskInput::placeholder {
  font-family: Poppins;
}

form label {
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  cursor: pointer;
}

label ion-icon {
  font-size: 23px;
  display: flex;
  align-items: center;
  justify-self: center;
}

.taskEnterBtn {
  color: white;
  background-color: black;
  position: relative;
  z-index: 2;
  right: 40px;
}

.tagBtn {
  position: relative;
  right: 30px;
}

.tagBtn ion-icon {
  font-size: 35px;
  font-weight: light;
}

input[type="checkbox"] {
  justify-self: flex-start;
}

.task label {
  justify-self: flex-start;
}


.task {
  height: 60px;
  transition: 0.3s;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 635px;
  overflow-x: hidden;
  animation: appear 0.3s;
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(20%);
  }
  to {
    opacity: 1;
    transform: translateY(-);
  }
}

.task:hover {
  background-color: lightgrey;
}

.task input[type="checkbox"] {
  width: 50px;
}

.task input[type="checkbox"]:checked + label {
  text-decoration: line-through;
  font-style: italic;
}

.task label {
  font-family: Playfair Display;
  font-size: 1.2rem;
  overflow-x: hidden;
}

.deleteBtn {
  cursor: pointer;
  font-size: 1.5rem;
  position: relative;
  justify-self: flex-end;
  z-index: 4;
  padding: 10px;
  transition: 200ms;
  border-radius: 10px;
}

.deleteBtn:hover {
  color: red;
}

@media (max-width: 600px) {
  .taskInputContainer {
    width: 400px;
    justify-self: center;
    border: solid;
  }
  .tasksContainer {
    width: 445px;
    justify-self: center;
    overflow: hidden;
  }
  .tasks {
    overflow: hidden;
    width: 100%;
    
  }
  .tasks .textHalf {
    overflow: hidden;
  }
}